# Dependency directory
node_modules

# dotenv environment variables
.env

#Hardhat files
cache
artifacts

# solidity-coverage directory and output file
coverage
coverage.json

# TypeScript bindings output directory
types
