name: Run Slither Static Analysis

on: [push, pull_request]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Slither
        uses: crytic/slither-action@v0.4.2
        id: slither
        with:
          solc-version: "0.8.33"
          sarif: results.sarif
          fail-on: none
          slither-args: >-
            --compile-force-framework solc
            --solc-remaps @openzeppelin=node_modules/@openzeppelin
            --filter-paths "contracts/tests"

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}
